{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

    {% if user.is_authenticated%}
    
        <h1>hturemine</h1>

        {%if records %}
            {% for record in records %}
                {{record.first_Name}}
                {{record.last_Name}}
                {{record.email}}
                {{record.phone}}
                {{record.created_at}}
                <br>
            {% endfor %}
        {% endif %}

    {% else %}

        <br>
        <h1>Tran Thuy Dung</h1>
        <br>
        
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <form>
                <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="username" required>
                </div>
                
                <br>

                <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </form>
    
        {% endif %}

</div>

{% endblock %}